/* MainScreen */
body {
    color: #212121;
    font-size: 18px;
}

.top-header {
    height: 40px;
    background-color: #EBECED;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    align-items: center;
    font-weight: 600;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.navbar-collapse {
    flex-grow: 0;
}

#main_screen_home {
    height: 90vh;
    max-height: 100vh;
    background-image: url('../static/main_screen.jpg');
    background-color: #EBECED;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-content: center;
}

#main_screen_stair {
    height: 90vh;
    max-height: 100vh;
    background-image: url('../static/main_screen_stair.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #EBECED;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-content: center;
}

.digits {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*align-items: center;*/
}

.digits > div.item > div.item_number {
    color: #01695f;
    font-size: 50px;
    font-weight: 700;
}

.digits > div.item > div.item_txt {
    color: #ffffff;
}

.h1_txt {
    text-transform: uppercase;
    margin: 20px 0;
}

.h1_txt > h1 {
    font-weight: bold;
    color: #ffffff;
}

.h2_txt > h2 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.main_btn > button {
    margin: 30px 0;
}

.btn_primary {
    border: 4px solid #01695f;
    background-color: #01695f;
    color: #fff;
    padding: 10px 60px;
    /*text-transform: uppercase;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_primary:hover {
    background-color: transparent;
    padding: 10px 60px;
}

/*SecondScreen*/

#big_txt {
    max-width: 68%;
    margin: 140px auto;
    text-align: justify;
}

#big_txt > div > h2 {
    margin-bottom: 20px;
}


.home_bools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    grid-auto-rows: auto;
    margin-bottom: 20px;
}

.home_bools > div >  h5 {
    margin: 20px 0;
}

.img_bools {
    width: 70px;
}

.hor_separator {
    height: 2px;
    width: 400px;
    background-color: #01695f;
    margin: 10px auto 50px auto;
}


#WhatWeDo {
    background-color: #EBECED;
    height: 100vh;
}

.whatwedo_bools {
    /*max-width: 68%;*/
    margin: 0 auto;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    grid-auto-rows: auto;
    margin-bottom: 20px;
    padding: 40px 0 140px 0;
}

.whatwedo_bools > div > h5 {
    margin: 10px 0;
}

.container > h2 {
    padding: 140px 0 20px 0;
}


#OurProjects {
    height: auto;
    padding-bottom: 140px;
}

.projects_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 70px 0;
}

.projects_images > img {
    max-width: 300px;
    width: 100%;

}


#SomeBulletins {
    background-color: #2B3035;
    color: #F8F9FA;
}

.big_int {
    font-size: 50px;
    font-weight: 700;
    color: #01695f;
}