<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block page_description %}Base Description{% endblock %}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}/static/main.css">
</head>
<body>
<div class="top-header">
  <div class="container">
    <div class="top-header-bools">
      <div class="mobile-hidden"></div>
      <div class="top-header-bool mobile-hidden">Тверь, ул. Спартака, д. 47</div>
      <div class="top-header-bool"><a href="tel:+74822649489">+ 7 (4822) 64 94 89</a></div>
      <div class="top-header-bool phone-hidden">info@metall69.ru</div>
      <div class="phone-hidden"></div>
    </div>
  </div>

</div>
<nav class="navbar navbar-expand-xxl bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">ПМК МеталлПрофи</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Изделия
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'stair' %}">Лестницы</a></li>
            <li><a class="dropdown-item" href="{% url 'porch' %}">Крыльцо</a></li>
            <li><a class="dropdown-item" href="{% url 'shelter' %}">Навесы</a></li>
            <li><a class="dropdown-item" href="{% url 'pergola' %}">Беседки</a></li>
            <li><a class="dropdown-item" href="{% url 'fence' %}">Заборы</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reviews' %}">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock %}
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>как заказать
          </h6>
          <p>
            Вы можете обратиться любым удобным для Вас способом. Наш менеджер Вас оперативно проконсультирует,
            а замерщик приедет в удобное время с образцами изделий.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            изделия
          </h6>
          <p>
            <a href="{% url 'stair' %}" class="text-reset">Лестницы</a>
          </p>
          <p>
            <a href="{% url 'shelter' %}" class="text-reset">Навесы</a>
          </p>
          <p>
            <a href="{% url 'pergola' %}" class="text-reset">Беседки</a>
          </p>
          <p>
            <a href="{% url 'fence' %}" class="text-reset">Ограждения</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            ссылки
          </h6>
          <p>
            <a href="{% url 'projects' %}" class="text-reset">Проекты</a>
          </p>
          <p>
            <a href="{% url 'reviews' %}" class="text-reset">Отзывы</a>
          </p>
          <p>
            <a href="{% url 'contacts' %}" class="text-reset">Как проехать</a>
          </p>
          <p>
            <a href="https://www.youtube.com/@user-og4cg9gx8v" class="text-reset">Канал на YouTube</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
          <p>Тверь, ул. Спартака, д. 47</p>
          <p><a href="mailto:info@metall69.ru">info@metall69.ru</a></p>
          <p><a href="tel:+79001110554">+7 900 111 05 54</a></p>
          <p><a href="tel:+74822649489">+7 4822 64 94 89</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="{% url 'home' %}">ПМК МеталлПрофи</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  <script rel="stylesheet" src="{{ STATIC_URL}}/static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(47803804, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47803804" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>