{% extends 'mainpage/product.html' %}
{% block title %} Беседки в Твери - от производителя по низким ценам, купить металлическую беседку{% endblock %}

{% block h1 %}
Металлические беседки в Твери
{% endblock %}

{% block h2_desc %}
Под заказ по индивидуальным проектам<br>
Профессиональный монтаж за 1-2 дня
{% endblock %}

{% block main_screen_class %}main_screen_pergola{% endblock %}

{% block h2 %} Виды беседок из металла {% endblock %}

{% block description %}
Владельцам загородной недвижимости производственная компания МеталлПрофи предлагает недорого купить беседку в Твери для сада.
Конструкции изготовлены из профильной трубы прямоугольного и квадратного сечения. Отличаются размерами, формами, дизайнами.
Под крышей открытой постройки дачники спрячутся от летнего зноя, дождя, за чашкой чая смогут любоваться садовым пейзажем.
Если купить беседку для дачи с ограждением из поликарбоната, весной и летом в ней можно спать, не боясь насекомых и ветра.
Любители приготовления еды на живом огне заказывают сооружение с барбекю зоной.

Садовая постройка составляет часть архитектурного ансамбля. В зависимости от стиля фасада хозяева выбирают круглые,
квадратные конструкции, в виде 6-ти и 8-гранников. Наиболее эффектно смотрятся отрытые павильоны в виде многогранников.
Возводят их под четырехскатной, шатровой или куполообразной крышей, покрывают: поликарбонатом, профлистом, металлочерепицей,
мягкой кровлей.
От насекомых защищают шторы или жалюзи, которые обходятсядешевле металлических полотен. При желании иметь в саду
конструкцию со стенами дачники покупают беседки из поликарбоната.Пластичный материал легко принимает любую форму
ограждений. Если на участке мало места, заказывают модель в виде перголы, состоящей из навеса на 2-х опорах и скамейки,
или 2-3 стен-трельяжей. Металлические решетки в обрамлении вьющихся
растений чудесно украшают ландшафт.
{% endblock %}

{% block types_img %}<img src="../static/images/pergola1.webp" alt="">{% endblock %}
{% block types_name %}Двускатная{% endblock %}
{% block types_price %}от 6000 руб/м2{% endblock %}
{% block types_text %}{% endblock %}

{% block types_img_1 %}<img src="../static/images/pergola2.webp" alt="">{% endblock %}
{% block types_name_1 %}Арочная{% endblock %}
{% block types_price_1 %}от 7000 руб/м2{% endblock %}
{% block types_text_1 %}{% endblock %}

{% block types_img_2 %}<img src="../static/images/pergola3.webp" alt="">{% endblock %}
{% block types_name_2 %}Четырехскатная{% endblock %}
{% block types_price_2 %}от 9000 руб/м2{% endblock %}
{% block types_text_2 %}{% endblock %}

{% block h2_advantages %}
Преимущества металлических беседок
{% endblock %}

{% block advantage_img %}<img src="../static/images/pergola2.webp" alt="" class="advantages_img">{% endblock %}

{% block txt_advantages_1 %}
Беседки из металла сочетаются со всеми строительными материалами – камнем, поликарбонатом, профнастилом, деревом, стеклом
{% endblock %}

{% block txt_advantages_2 %}
Антикоррозийная защита, декоративное напыление продлевают срок службы на десятки лет. Не подвержены разрушительному воздействию плесени, жуков-точильщиков.
{% endblock %}

{% block txt_advantages_3 %}
Каркас из прочной конструкционной углеродистой стали придает максимальную жесткость изделию и в то же время визуально не нагромождает загородный участок.
{% endblock %}

{% block txt_advantages_4 %}
Цена беседки для дачи в Твери зависит от формы и конструктивных особенностей, однако обходится гораздо дешевле подобных изделий из дерева.
{% endblock %}


{% block why_they_buy_txt %}
С установкой металлической беседки в Твери лучше справятся профессионалы ПМК Металл Профи, выполняющие работы под ключ.
Бригада монтажников обеспечивает доставку на объект, проводит комплексные работы. Обращайтесь, специалисты компании
предложат лучшее решение. При необходимости составят чертежи с учетом личных пожеланий или внесут коррективы в готовый
дизайн-проект. Собственное производство позволяет изготовить крытую садовую постройку в любом дизайне.
{% endblock %}

{% block Production_h2 %}
беседки
{% endblock %}

{% block production_txt_1 %}
На этом этапе по уже готовым замерам помещения производится проектирование, <br> подбор оптимального шага и проступи под конкретное помещение и 3D - визуализация будущей лестницы.
{% endblock %}

{% block production_txt_2 %}
Металлопрокат зачищается от ржавчины, производится разметка и нарезка профилированных труб. <br>Следующим этапом детали скрепляются между собой с помощью сварного соединения.
{% endblock %}

{% block production_txt_3 %}
Сваренное изделие полностью зачищается от черновых сварных швов и производственных окалин. <br> Дальше изделие обезжиривается и покрывается 2-мя слоями профессиональной грунт-эмали Certa.
{% endblock %}

{% block production_txt_4 %}
Осуществляется доставка металлоконструкции на объект Заказчика. <br> Монтажные работы лестницы по месту как правило занимают 1-2 рабочих дня.
{% endblock %}

{% block tm_prod %}
по беседкам
{% endblock %}