{% extends 'mainpage/base.html' %}
{% block title %} Производство металлоконструкций в Твери | Монтаж металлоконструкций по низким ценам {% endblock %}

{% block content %}
<section id="{% block main_screen_class %}main_screen_home{% endblock %}">
  <span></span>
  <span>
    <div class="h1_txt">
    <h1>
        {% block h1 %}
        производство металлоконструкций
        {% endblock %}
    </h1>
  </div>
    <div class="h3_txt">
    <h3>
      {% block h2_desc %}
        Оказываем услуги по проектированию и изготовлениию легких металлоконструкций &#10;(лестницы, навесы, ограждения, беседки)
        и металлоизделий для частных заказчиков и юридических лиц в Тверской и Московской областях
        {% endblock %}
    </h3>
    </div>
    <div class="digits">
      <div class="item">
        <div class="item_number">

        {% block num_1%}10{% endblock %}
        </div>
        <div class="item_txt">
        {% block txt_1%}лет опыта{% endblock %}
        </div>
      </div>
      <div class="item">
        <div class="item_number">

        {% block num_2%}>200{% endblock %}
        </div>
        <div class="item_txt">
        {% block txt_2%}проектов выполнено{% endblock %}
        </div>
      </div>
      <div class="item">
        <div class="item_number">

        {% block num_3%}6{% endblock %}
        </div>
        <div class="item_txt">
        {% block txt_3%}сварочных постов{% endblock %}
        </div>
      </div>
    </div>
    <span class="main_btn">
        <a href="#big_txt"><button type="button" class="btn_primary">Подробнее</button></a>

    </span>
  </span>

</section>
<section id="big_txt" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="home_bools">
        <div class="">
            <img src="../static/images/production.png" alt="" class="img_bools">
            <h5 >Собственное производство</h5>
            <p>Благодаря нашему собственному производственному оборудованию мы можем изготовить
                металлоконструкции по индивидуальному проекту по требованиям Заказчика.</p>
        </div>
        <div class="">
            <img src="../static/images/catalog.png" alt="" class="img_bools">
            <h5>Портфолио проектов</h5>
            <p>С 2014 года нами реализовано свыше 300 проектов различной сложности. По возможности этапы работ мы
                фиксируем в виде фото или видео отчета.</p>
        </div>
        <div class="">
            <img src="../static/images/gunspr.png" alt="" class="img_bools">
            <h5>Полный цикл работ</h5>
            <p>Наличие производства и монтажных бригад позволяет осуществлять работы “под ключ” от этапа
                проектирования до установки и сборки всей металлоконструкции.</p>
        </div>
        </div>
        <div class="hor_separator"></div>
    <h2>ИЗГОТОВЛЕНИЕ МЕТАЛЛОКОНСТРУКЦИЙ В ТВЕРИ</h2>
    <p>ПМК МеталлПрофи с 2014 года занимается изготовлением легких металлоконструкций в Твери и Тверской области.
        Предприятие оснащено современным оборудованием и штатом профессионалов, что позволяет реализовывать проекты в максимально короткие сроки.
        В процессе производства используется металлопрокат только от проверенных временем поставщиков. Металлические конструкции обладают многочисленными преимуществами, что делает их востребованными и популярными.
        Широко применяются при строительстве зданий гражданского и промышленного назначения, для возведения навесов и каркасов. Металл максимально устойчив к воздействию окружающей среды, что делает срок службы строений на металлокаркасе в разы дольше в сравнении с аналогами.
        Благодаря конструктивным особенностям устанавливаются в максимально короткие сроки.
        Прочность и устойчивость при легком весе упрощают работу с материалом, что отражается и на стоимости.</p>
        <p>Каркас из металла оптимально подходит для промышленных зданий, которые необходимо возвести в короткие сроки. При изготовлении металлоконструкций используются технологии, предусматривающие температурный режим и сейсмические условия. При проектировании применяют болтовые соединения, соответствующие нормам и нормативам. Грамотная разработка чертежей способствует быстрой и точной подготовке, как следствие объект не только быстро возводится, но является надежным и безопасным. На основе проектных данных производится подсчет стоимости изготовления и монтажа.

Монтаж металлоконструкций представляет собой сборку и установку на месте. Комплект, оборудование и техника доставляются на объект строительства. Сборка металлоконструкций производится различными способами. Для этого можно использовать сварку. В отдельных случаях детали скрепляются болтами и саморезами.</p>
    </div>

</section>
<section id="WhatWeDo">

    <div class="container">

        <h2>ЧТО МЫ ИЗГОТАВЛИВАЕМ</h2>

    <div class="whatwedo_bools">
        <!-- First Row -->
        <div class="">
            <img src="../static/images/stair.png" alt="" class="img_bools">
            <h5 >Лестницы</h5>
            <p>На металличесом каркасе с навесными деревянными ступенями или из массива ценных пород дерева. Открытого или закрытого типа.</p>
        </div>
        <div class="">
            <img src="../static/images/tent.png" alt="" class="img_bools">
            <h5>Навесы</h5>
            <p>Для автомобилей с покрытием из поликарбоната, металлочерепицы или профилированного листа по желанию Заказчика</p>
        </div>
        <div class="">
            <img src="../static/images/camping.png" alt="" class="img_bools">
            <h5>Беседки</h5>
            <p>По индивидуальным проектам или на выбор из готового каталога продукции с коваными элементами</p>
        </div>
        <!-- Second Row -->
        <div class="">
            <img src="../static/images/fence.png" alt="" class="img_bools">
            <h5 >Ограждения</h5>
            <p>Для балконов, лестничных пролетов или в виде решеток на окна</p>
        </div>
        <div class="">
            <img src="../static/images/gates.png" alt="" class="img_bools">
            <h5>Ворота</h5>
            <p>Распашные или откатные с приводом автоматического открытия на каркасе</p>
        </div>
        <div class="">
            <img src="../static/images/garage.png" alt="" class="img_bools">
            <h5>Каркасы</h5>
            <p>Из металлического профиля луюбых типоразмеров методом полуавтоматической сварки</p>
        </div>
    </div>
    </div>
</section>

<!-- Start Section -->

<section id="OurProjects">
    <div class="container">
        <h2>ПРИМЕРЫ ПРОЕКТОВ</h2>
        <p>Наша команда занимается изготовлением различных изделий в комбинации металла с древесиной или поликарбонатом.
            Мы можем спроектировать и изготовить внутридомовую лестницу на второй этаж или уличное крыльцо. Нужен навес
            для вашего автомобиля или беседка? - Пожалуйста, мы готовы реализовать ваши задумки в реальность с душой и горящими глазами.</p>

    <div class="projects_images">
        {% for item in Random_projects %}
        <img src="media/{{ item.image }}" alt="">
        {% endfor %}
    </div>
    </div>

</section>

<!-- Start Section -->

<section id="SomeBulletins">

    <div class="container">

        <h2>НЕМНОГО ЦИФР О НАС</h2>

    <div class="whatwedo_bools">
        <!-- First Row -->
        <div class="">
            <p class="big_int">205</p>
            <h5 >проектов выполнено</h5>
            <p>Такая цифра бесспорно заявляет о качестве нашей продукции и доступных ценах </p>
        </div>
        <div class="">
            <p class="big_int">342</p>
            <h5>этажа лестниц сварено</h5>
            <p>Это как 2 раза подняться на самое высокое здание в мире - Бурдж Халифа</p>
        </div>
        <div class="">
            <p class="big_int">12 000</p>
            <h5>кг металлоизделий в месяц</h5>
            <p>Именно такой объем реализуемой продукции получается в среднем по году</p>
        </div>
        <!-- Second Row -->
        <div class="">
            <p class="big_int">8</p>
            <h5>сварщиков 6 разряда</h5>
            <p>Наша главная ценность и гордость - это команда специалистов высокого класса</p>
        </div>
        <div class="">
            <p class="big_int">2014</p>
            <h5>год открытия производства</h5>
            <p>Почти 10 лет мы реализуем проекты различной сложности для наших Заказчиков</p>
        </div>
        <div class="">
            <p class="big_int">96</p>
            <h5>процентов довольных клиентов</h5>
            <p>Довольный клиент - это основной принцип, которым мы руководствуемся в своей работе</p>
        </div>
    </div>
    </div>



</section>



{% endblock %}