{% extends 'mainpage/base.html' %}
{% block title %} Производство металлоконструкций в Твери | Монтаж металлоконструкций по низким ценам {% endblock %}

{% block h1 %}
производство металлоконструкций
{% endblock %}

{% block h2_desc %}
Оказываем услуги по проектированию и изготовлениию легких металлоконструкций (лестницы, навесы, ограждения, беседки)
и металлоизделий для частных заказчиков и юридических лиц в Тверской и Московской областях
{% endblock %}

{% block content %}
<section id="big_txt">
    <div class="container-fluid">
        <div class="home_bools">
        <div class="">
            <h5>Собственное производство</h5>
            <p>Благодаря собственному производственному оборудованию мы можем изготовить
                металлоконструкции по индивидуальному проекту по требованиям Заказчика.</p>
        </div>
        <div class="">
            <h5>Портфолио проектов</h5>
            <p>С 2014 года нами реализовано свыше 300 проектов различной сложности. По возможности этапы работ мы
                фиксируем в виде фото или видео отчета.</p>
        </div>
        <div class="">
            <h5>Полный цикл работ</h5>
            <p>Наличие производства и монтажных бригад позволяет осуществлять работы “под ключ” от этапа
                проектирования до установки и сборки всей металлоконструкции.</p>
        </div>
    </div>
    <p>ПМК МеталлПрофи с 2014 года занимается изготовлением легких металлоконструкций в Твери и Тверской области.
        Предприятие оснащено современным оборудованием и штатом профессионалов, что позволяет реализовывать проекты в максимально короткие сроки.
        В процессе производства используется металлопрокат только от проверенных временем поставщиков. Металлические конструкции обладают многочисленными преимуществами, что делает их востребованными и популярными.
        Широко применяются при строительстве зданий гражданского и промышленного назначения, для возведения навесов и каркасов. Металл максимально устойчив к воздействию окружающей среды, что делает срок службы строений на металлокаркасе в разы дольше в сравнении с аналогами.
        Благодаря конструктивным особенностям устанавливаются в максимально короткие сроки.
        Прочность и устойчивость при легком весе упрощают работу с материалом, что отражается и на стоимости.</p>
    </div>

</section>
{% endblock %}