{% extends 'mainpage/product.html' %}
{% block title %} Крыльцо для частного дома - купить крыльцо из металла в Твери по выгодной цене {% endblock %}
{% block page_description %}➤ ПМК МеталлПрофи осуществляет изготовление и монтаж крылечек для частного дома в Твери и Тверской области "под ключ". 3 года гарантии. Бесплатная доставка. Звоните!{% endblock %}

{% block h1 %}
Крыльцо из металла для частного дома
{% endblock %}

{% block h2_desc %}
От прямого производителя<br>
Покрытие из дерева или ДПК<br>
Профессиональный монтаж за 1 день
{% endblock %}

{% block main_screen_class %}main_screen_porch{% endblock %}

{% block h2 %} Виды крылец для частного дома {% endblock %}

{% block description %}
Крыльцо для частного дома является не только защитой от непогоды, но и важным элементом дизайна, который создает
уютную атмосферу и добавляет шарм и индивидуальность фасаду. Существует множество различных стилей и вариантов крыльца,
каждое из которых подчеркивает уникальность и характер дома. Рассмотрим основные виды крыльц для частного дома и их особенности.
{% endblock %}

{% block types_img %}<img src="../static/images/porch_1.webp" alt="">{% endblock %}
{% block types_name %}Ступени к дому{% endblock %}
{% block types_price %}от 40 000 руб.{% endblock %}
{% block types_text %}Закрытый металлокаркас лестницы под обшивку деревом позволяет скрыть металлические элементы и придать интерьеру более комфортный классический стиль.{% endblock %}

{% block types_img_1 %}<img src="../static/images/porch_2.webp" alt="">{% endblock %}
{% block types_name_1 %}Крыльцо с навесом{% endblock %}
{% block types_price_1 %}от 70 000 руб.{% endblock %}
{% block types_text_1 %}В данном варианте металлической лестницы опорой выступает профильная труба сечением <b>120*120 мм</b> и толщиной стенки 4 мм.{% endblock %}

{% block types_img_2 %}<img src="../static/images/porch_3.webp" alt="">{% endblock %}
{% block types_name_2 %}Крыльцо с элементами ковки{% endblock %}
{% block types_price_2 %}от 100 000 руб.{% endblock %}
{% block types_text_2 %}В качестве косоуров выступают две параллельные балки из профильной трубы размерами <b>100*50*3 мм.</b>{% endblock %}

{% block h2_advantages %}
Преимущества крыльца из металла
{% endblock %}

{% block txt_advantages_1 %}
Один из главных плюсов металлического крыльца – это прочность и долговечность материала.
Металл не подвержен гниению, плесени и насекомым, что позволяет сохранить его первозданный вид на протяжении многих лет.
{% endblock %}

{% block txt_advantages_2 %}
Еще одним преимуществом крыльца  из металла является его легкость в установке и обслуживании. Металлические конструкции проще
транспортировать и монтировать на месте строительства, что сокращает сроки выполнения работ и экономит деньги. Кроме того,
металлическое крыльцо не требует сложного ухода – достаточно периодически протирать его от пыли и грязи.
{% endblock %}

{% block txt_advantages_3 %}
Кроме того, металлическое крыльцо отличается устойчивостью к воздействию влаги,
солнца, механических повреждений и экстремальных температурных условий.
{% endblock %}

{% block txt_advantages_4 %}
Еще одним неоспоримым плюсом металлического крыльца является его возможность подвергаться различным видам обработки и отделки.
Металл легко поддается окрашиванию и покрытию защитными слоями, что позволяет сделать крыльцо более устойчивым к воздействию
внешних факторов, а также создать эстетически привлекательный внешний вид.
{% endblock %}


{% block why_they_buy_txt %}
Наше производство находится по адресу: <b>ул. Спартака, д. 47, г. Тверь</b>. Изготовление металлических изделий проводится с учетом всех ГОСТов и стандартов, используя только высококачественный профилированный металл. При сборке металлических лестниц применяется метод сварки для соединения элементов, что гарантирует максимальную прочность всей конструкции. При обращении в нашу фирму, вы сможете приобрести металлическую лестницу для частного дома из готовых вариантов или заказать ее изготовление по индивидуальному проекту. Наши сотрудники окажут вам профессиональную консультацию, помогут выбрать оптимальную конфигурацию, подберут ступени и поручни, соответствующие вашему интерьеру. Мы работаем в городе Твери, Тверской и Московской областях.
{% endblock %}

{% block Production_h2 %}
крыльца
{% endblock %}

{% block production_txt_1 %}
На этом этапе по уже готовым замерам помещения производится проектирование, <br> подбор оптимального шага и проступи под конкретное помещение и 3D - визуализация будущей лестницы.
{% endblock %}

{% block production_txt_2 %}
Металлопрокат зачищается от ржавчины, производится разметка и нарезка профилированных труб. <br>Следующим этапом детали скрепляются между собой с помощью сварного соединения.
{% endblock %}

{% block production_txt_3 %}
Сваренное изделие полностью зачищается от черновых сварных швов и производственных окалин. <br> Дальше изделие обезжиривается и покрывается 2-мя слоями профессиональной грунт-эмали Certa.
{% endblock %}

{% block production_txt_4 %}
Осуществляется доставка металлоконструкции на объект Заказчика. <br> Монтажные работы лестницы по месту как правило занимают 1-2 рабочих дня.
{% endblock %}

{% block tm_prod %}
по крылечкам
{% endblock %}