{% extends 'mainpage/product.html' %}
{% block title %} Лестницы в Твери - от производителя по низким ценам из металла и дерева{% endblock %}

{% block h1 %}
Лестницы на металлокаркасе
{% endblock %}

{% block h2_desc %}
От прямого производителя<br>
Cтупени из дерева (сосна, лиственница, ясень, дуб)<br>
Профессиональный монтаж за 1 день
{% endblock %}

{% block main_screen_class %}main_screen_stair{% endblock %}

{% block h2 %} Конфигурации лестниц на металле{% endblock %}

{% block description %}
Лестничные конструкции из металла являются неотъемлемой частью любого частного дома.
Любое строение, даже имеющее один этаж, оснащается подъемом на чердак или крыльцом.
Достаточно тяжело представить большие загородные дома без лестницы на второй этаж.
В настоящее время большое количество владельцев загородной недвижимости в Твери и Тверской области выбирают для
частного дома именно металлические лестницы с деревянными ступенями, а не полностью из дерева или бетона.
{% endblock %}


{% block h2_advantages %}
Преимущества лестниц на металлокаркасе
{% endblock %}