{% extends 'mainpage/product.html' %}
{% block title %} Лестницы в Твери - от производителя по низким ценам из металла и дерева{% endblock %}
{% block page_description %}➤ ПМК МеталлПрофи осуществляет изготовление и монтаж лестниц на второй этаж дома в Твери и Тверской области "под ключ". 3 года гарантии. Бесплатная доставка. Звоните!{% endblock %}

{% block h1 %}
Лестницы на<br>металлокаркасе
<br><span class="fs-light">от производителя</span>
{% endblock %}

{% block h2_desc %}Изготовим и установим современную лестницу<br>под ваш интерьер{% endblock %}

{% block main_screen_class %}main_screen_stair{% endblock %}

{% block h2 %} Конфигурации лестниц на металле{% endblock %}

{% block description %}
Лестничные конструкции из металла являются неотъемлемой частью любого частного дома.
Любое строение, даже имеющее один этаж, оснащается подъемом на чердак или крыльцом.
Достаточно тяжело представить большие загородные дома без лестницы на второй этаж.
В настоящее время большое количество владельцев загородной недвижимости в Твери и Тверской области выбирают для
частного дома именно металлические лестницы с деревянными ступенями, а не полностью из дерева или бетона.
{% endblock %}

{% block types_img %}<img src="../static/images/karkas.webp" alt="">{% endblock %}
{% block types_name %}Каркас под обшивку{% endblock %}
{% block types_price %}от 60 000 руб.{% endblock %}
{% block types_text %}Закрытый металлокаркас лестницы под обшивку деревом позволяет скрыть металлические элементы и придать интерьеру более комфортный классический стиль.{% endblock %}

{% block types_img_1 %}<img src="../static/images/mono.webp" alt="">{% endblock %}
{% block types_name_1 %}На монокосоуре{% endblock %}
{% block types_price_1 %}от 70 000 руб.{% endblock %}
{% block types_text_1 %}В данном варианте металлической лестницы опорой выступает профильная труба сечением <b>120*120 мм</b> и толщиной стенки 4 мм.{% endblock %}

{% block types_img_2 %}<img src="../static/images/two_cos.webp" alt="">{% endblock %}
{% block types_name_2 %}На двух косоурах{% endblock %}
{% block types_price_2 %}от 70 000 руб.{% endblock %}
{% block types_text_2 %}В качестве косоуров выступают две параллельные балки из профильной трубы размерами <b>100*50*3 мм.</b>{% endblock %}

{% block h2_advantages %}
Преимущества лестниц на металлокаркасе
{% endblock %}

{% block txt_advantages_1 %}
Профессионально изготовленная лестничная конструкция из металла впишется в интерьер любого загородного дома,
будь то модерн, минимализм или классический стиль внутреннего убранства. Металлический каркас можно покрасить
и оставить на виду или декорировать отделочным материалом.
{% endblock %}

{% block txt_advantages_2 %}
Мы осуществляем изготовление лестниц на металлическом каркасе по индивидуальным заказам на производстве в г. Тверь
с учетом требований ГОСТов и использованием качественных расходных материалов, конструкция гарантировано
сможет прослужить надежно многие годы.
{% endblock %}

{% block txt_advantages_3 %}
Лестницы на металлическом каркасе не уступают по своим прочностным характеристкам конструкциям из камня или бетона, и в
же время их цена намного доступнее приведенных материалов. Кроме того вес металлоконструкции небольшой, что снижает
нагрузку на фундамент дома.
{% endblock %}

{% block txt_advantages_4 %}
Лестницы из металла, в отличие от деревянных, не подвержены гниению, распространению грибка и устойчивы к
температурным воздействиям, именно поэтому такие конструкции довольно часто устанавливают на улице, в качестве
пожарной лестницы или крыльца.
{% endblock %}


{% block why_they_buy_txt %}
Наше производство расположено по адресу: <b>г. Тверь, ул. Спартака, д. 47</b>. Изготовление металлоизделий осуществляется с учетом требований, стандартов ГОСТов,
с использованием качественного профилированного металлопроката. При сборке металлических лестниц применяется сварной метод соединения элементов, что гарантирует всей конструкции максимальную прочность.
Обратившись в нашу компанию, вы сможете выгодно купить металлическую лестницу для частного дома из предложенных вариантов или заказать ее изготовление по собственному проекту.
Сотрудники компании проконсультируют с учетом требований, помогут определиться с выбором конфигурации, предложат наиболее подходящие по интерьеру ступени и поручни. Работаем по г. Твери, Тверской и Московской области.
{% endblock %}

{% block Production_h2 %}
лестницы
{% endblock %}

{% block production_txt_1 %}
На этом этапе по уже готовым замерам помещения производится проектирование, <br> подбор оптимального шага и проступи под конкретное помещение и 3D - визуализация будущей лестницы.
{% endblock %}

{% block production_txt_2 %}
Металлопрокат зачищается от ржавчины, производится разметка и нарезка профилированных труб. <br>Следующим этапом детали скрепляются между собой с помощью сварного соединения.
{% endblock %}

{% block production_txt_3 %}
Сваренное изделие полностью зачищается от черновых сварных швов и производственных окалин. <br> Дальше изделие обезжиривается и покрывается 2-мя слоями профессиональной грунт-эмали Certa.
{% endblock %}

{% block production_txt_4 %}
Осуществляется доставка металлоконструкции на объект Заказчика. <br> Монтажные работы лестницы по месту как правило занимают 1-2 рабочих дня.
{% endblock %}

{% block tm_prod %}
по лестницам
{% endblock %}