{% extends 'mainpage/product.html' %}
{% block title %} Лестницы в Твери - от производителя по низким ценам из металла и дерева{% endblock %}

{% block h1 %}
Лестницы на металлокаркасе
{% endblock %}

{% block h2_desc %}
От прямого производителя<br>
Cтупени из дерева (сосна, лиственница, ясень, дуб)<br>
Профессиональный монтаж за 1 день
{% endblock %}

{% block main_screen_class %}main_screen_stair{% endblock %}

{% block h2 %} Конфигурации лестниц на металле{% endblock %}

{% block description %}
Лестничные конструкции из металла являются неотъемлемой частью любого частного дома.
Любое строение, даже имеющее один этаж, оснащается подъемом на чердак или крыльцом.
Достаточно тяжело представить большие загородные дома без лестницы на второй этаж.
В настоящее время большое количество владельцев загородной недвижимости в Твери и Тверской области выбирают для
частного дома именно металлические лестницы с деревянными ступенями, а не полностью из дерева или бетона.
{% endblock %}


{% block h2_advantages %}
Преимущества лестниц на металлокаркасе
{% endblock %}

{% block txt_advantages_1 %}
Профессионально изготовленная лестничная конструкция из металла впишется в интерьер любого загородного дома,
будь то модерн, минимализм или классический стиль внутреннего убранства. Металлический каркас можно покрасить
и оставить на виду или декорировать отделочным материалом.
{% endblock %}

{% block txt_advantages_2 %}
Мы осуществляем изготовление лестниц на металлическом каркасе по индивидуальным заказам на производстве в г. Тверь
с учетом требований ГОСТов и использованием качественных расходных материалов, конструкция гарантировано
сможет прослужить надежно многие годы.
{% endblock %}

{% block txt_advantages_3 %}
Лестницы на металлическом каркасе не уступают по своим прочностным характеристкам конструкциям из камня или бетона, и в
же время их цена намного доступнее приведенных материалов. Кроме того вес металлоконструкции небольшой, что снижает
нагрузку на фундамент дома.
{% endblock %}

{% block txt_advantages_4 %}
Лестницы из металла, в отличие от деревянных, не подвержены гниению, распространению грибка и устойчивы к
температурным воздействиям, именно поэтому такие конструкции довольно часто устанавливают на улице, в качестве
пожарной лестницы или крыльца.
{% endblock %}