{% extends 'mainpage/product.html' %}
{% block title %} Навесы в Твери - из поликарбоната для автомобилей, изготовление навесов из металла под ключ {% endblock %}

{% block h1 %}
Навесы для автомобиля
{% endblock %}

{% block h2_desc %}
От прямого производителя<br>
От 4000 руб/м2<br>
Кровля: поликарбонат или металлочерепица
{% endblock %}

{% block main_screen_class %}main_screen_navesy{% endblock %}

{% block h2 %}Виды металлических навесов{% endblock %}

{% block description %}
Для защиты автомобиля от осадков, попадания прямых солнечных лучей отлично подойдут навесы из поликарбоната на металлокаркасе,
которые пользуются широкой популярностью среди владельцев загородной недвижимости. Сотрудничая с нами, вы легко сможете подобрать для своего дома,
коттеджа навесы из металла интересующих размеров и конфигурации. В своей работе мы используем материалы высокого качества от проверенных поставщиков.
Наши металлоконструкции прослужат вам многие годы.
{% endblock %}

{% block types_img %}<img src="../static/images/one_skat.webp" alt="">{% endblock %}
{% block types_name %}Односкатные{% endblock %}
{% block types_price %}от 4 000 руб./м2{% endblock %}
{% block types_text %}Самый простой вариант. Довольно часто используется в качестве приставной конструкции к стене гаража или дома.{% endblock %}

{% block types_img_1 %}<img src="../static/images/two_skat.webp" alt="">{% endblock %}
{% block types_name_1 %}Двускатные{% endblock %}
{% block types_price_1 %}от 4 500 руб./м2{% endblock %}
{% block types_text_1 %}Реализуется с помощью сведения двух частей-скатов под нужным углом, что гарантирует хорошую защиту от осадков и ветра.{% endblock %}

{% block types_img_2 %}<img src="../static/images/arka.webp" alt="">{% endblock %}
{% block types_name_2 %}Арочные{% endblock %}
{% block types_price_2 %}от 5 000 руб./м2{% endblock %}
{% block types_text_2 %}Наиболее популярный вариант навеса для машины. Полукруглая крыша препятствует скоплению снега и выглядит эстетично.</b>{% endblock %}


{% block why_they_buy_txt %}
Если вы планируете заказать навес из поликарбоната в Твери у нас, то можете рассчитывать на максимальное качество
предоставления услуги. Нами выполняется изготовление навесов под ключ с учетом всех норм и требований ГОСТ.
В первую очередь мы опираемся на пожелания и интересы клиентов. Доверяя работу ПМК МеталлПрофи, вы можете рассчитывать
на высокое качество и оперативность выполнения поставленных задач вне зависимости от объема, уровня сложности.
{% endblock %}

{% block h2_advantages %}
Преимущества навесов из поликарбоната
{% endblock %}

{% block advantage_img %}<img src="../static/images/naves.webp" alt="" class="advantages_img">{% endblock %}

{% block txt_advantages_1 %}
Металлические навесы из поликарбоната, благодаря использованию современных отделочных материалов и вариациям цветовых решений, органично вписываются в разнообразный экстерьер или ландшафт загородного участка.
{% endblock %}

{% block txt_advantages_2 %}
Мы осуществляем изготовление навесов из металлопрофиля для автомобилей с учетом требований ГОСТов и использованием качественных расходных материалов. Данная конструкция гарантировано прослужит долгие годы, обеспечивая ваш автомобиль надежной защитой от осадков.
{% endblock %}

{% block txt_advantages_3 %}
Навес для машины из металла изготавливается на каркасе из профильной трубы сечением 60*60 мм для опорных столбов и сечением 40*40 мм для кровельных балок. Такая конструкция выдерживает нагрузки до 200 кг на один квадратный метр.
{% endblock %}

{% block txt_advantages_4 %}
Сотовый поликарбонат – современный отделочный материал. Он хорошо пропускает солнечный свет и в то же время обладает свойством, блокирующим прохождение ультрафиолетовых лучей, что предотвращает повреждение лакокрасочного покрытия автомобиля.
{% endblock %}

{% block Production_h2 %}
навеса
{% endblock %}

{% block production_txt_1 %}
На этом этапе, после проведения измерений и осмотра территории, начинается проектирование <br>навеса, определение оптимальных параметров и создание 3D-модели будущего изделия.
{% endblock %}

{% block production_txt_2 %}
Происходит очистка металлопроката от ржавчины, а затем выполняется разметка и резка <br> профилированных труб. После этого детали соединяются между собой при помощи сварного соединения.
{% endblock %}

{% block production_txt_3 %}
Изделие после сварки подвергается полной очистке от черновых сварных швов и производственных <br>окалин. Затем его обезжиривают и покрывают двумя слоями специальной грунт-эмали Certa.
{% endblock %}

{% block production_txt_4 %}
Осуществляется доставка металлоконструкции на объект Заказчика. <br> Монтажные работы лестницы по месту как правило занимают 1-2 рабочих дня.
{% endblock %}


{% block tm_prod %}
по навесам
{% endblock %}