{% extends 'mainpage/product.html' %}
{% block title %} Навесы из поликарбоната для автомобилей, изготовление навесов из металла под ключ в Твери {% endblock %}

{% block h1 %}
Навесы для автомобиля
{% endblock %}

{% block h2_desc %}
От прямого производителя<br>
От 4000 руб/м2<br>
Кровля: поликарбонат или металлочерепица
{% endblock %}

{% block main_screen_class %}main_screen_stair{% endblock %}

{% block h2 %}Виды металлических навесов{% endblock %}


{% block why_they_buy_txt %}
Если вы планируете заказать навес из поликарбоната в Твери у нас, то можете рассчитывать на максимальное качество
предоставления услуги. Нами выполняется изготовление навесов под ключ с учетом всех норм и требований ГОСТ.
В первую очередь мы опираемся на пожелания и интересы клиентов. Доверяя работу ПМК МеталлПрофи, вы можете рассчитывать
на высокое качество и оперативность выполнения поставленных задач вне зависимости от объема, уровня сложности.
{% endblock %}

{% block h2_advantages %}
Преимущества навесов из поликарбоната
{% endblock %}

{% block txt_advantages_1 %}

{% endblock %}

{% block txt_advantages_2 %}

{% endblock %}

{% block txt_advantages_3 %}

{% endblock %}

{% block txt_advantages_4 %}

{% endblock %}