{% extends 'mainpage/base.html' %}
{% block title %} Отзывы о ПМК МеталлПрофи {% endblock %}
{% block page_description %}➤ Отывы покупателей о компании МеталлПрофи. Звоните!{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h2>Отзывы</h2>
        <div class="reviews">
            <div class=""><iframe width="560" height="315" src="https://www.youtube.com/embed/AnNpBT-RsRk?si=i35vwNJ29yyGR-s-"
                                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                  encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class=""><iframe width="560" height="315" src="https://www.youtube.com/embed/gvpdIhxcNkU?si=1O2FSaYvkg3g6xSW"
                                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                   encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class=""><iframe width="560" height="315" src="https://www.youtube.com/embed/s3rZs0WfLL4?si=I7BgLMTXlhzzkP4j"
                                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                   encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class=""><iframe width="560" height="315" src="https://www.youtube.com/embed/zfhoYiXg_rY?si=ay6fFkDxpKt9hCDi"
                                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                   encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
    </div>
</section>
{% endblock %}