{% extends 'mainpage/base.html' %}
{% block content %}
<section id="{% block main_screen_class %}main_screen_home{% endblock %}">
  <span></span>
  <span>
    <div class="h1_txt">
    <h1>
        {% block h1 %}
        Base H1
        {% endblock %}
    </h1>
  </div>
    <div class="h3_txt">
    <h3>
      {% block h2_desc %}
        Base H2
        {% endblock %}
    </h3>
    </div>
    <div class="digits">
      <div class="item">
        <div class="item_number">

        {% block num_1%}10{% endblock %}
        </div>
        <div class="item_txt">
        {% block txt_1%}лет опыта{% endblock %}
        </div>
      </div>
      <div class="item">
        <div class="item_number">

        {% block num_2%}>200{% endblock %}
        </div>
        <div class="item_txt">
        {% block txt_2%}проектов выполнено{% endblock %}
        </div>
      </div>
      <div class="item">
        <div class="item_number">

        {% block num_3%}6{% endblock %}
        </div>
        <div class="item_txt">
        {% block txt_3%}сварочных постов{% endblock %}
        </div>
      </div>
    </div>
    <span class="main_btn">
        <a href="#big_txt"><button type="button" class="btn_primary">Подробнее</button></a>

    </span>
  </span>

</section>
<!--Start New Section-->
<section id="big_txt" xmlns="http://www.w3.org/1999/html">
    <h2>{% block h2 %} H2 Product {% endblock %}</h2>
    <p class="types_description">{% block description %} Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda deleniti dicta dolor dolores eum facilis illo numquam, perferendis possimus ratione reiciendis sit tempora voluptate voluptatem! Est expedita magnam molestias nostrum pariatur! Alias deleniti dignissimos expedita nisi non praesentium velit? Consequatur corporis explicabo harum illo itaque maiores maxime minus placeat repellendus, vel. Aspernatur atque eum omnis voluptatum! Accusamus assumenda, autem commodi corporis cum debitis deleniti eaque eligendi esse et excepturi explicabo fugiat laudantium maiores nobis officia placeat quaerat quidem quo sunt totam, ullam veniam voluptate. Harum, reprehenderit voluptate? Consequatur eveniet ipsam repudiandae voluptates. Architecto dolor dolorem ipsam labore nulla, similique! {% endblock %}</p>
    <div class="types_product">
        <div class="type">
            <div class="types_product_img">
                {% block types_img %}<img src="../static/images/karkas.webp" alt="">{% endblock %}
            </div>
            <p class="types_product_name">
            {% block types_name %}Lorem ipsum.{% endblock %}
            </p>
             <p class="types_product_price">
            {% block types_price %}от 60 000 руб.{% endblock %}
            </p>
            <p class="types_product_text">
            {% block types_text %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione, ut. Architecto beatae ducimus enim expedita ipsa nobis, quis tempora.{% endblock %}
            </p>
        </div>
        <!--Второй тип -->
        <div class="type">
            <div class="types_product_img">
                {% block types_img_1 %}<img src="../static/images/karkas.webp" alt="">{% endblock %}
            </div>
            <p class="types_product_name">
            {% block types_name_1 %}Lorem ipsum.{% endblock %}
            </p>
             <p class="types_product_price">
            {% block types_price_1 %}от 60 000 руб.{% endblock %}
            </p>
            <p class="types_product_text">
            {% block types_text_1 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione, ut. Architecto beatae ducimus enim expedita ipsa nobis, quis tempora.{% endblock %}
            </p>
        </div>

        <div class="type">
            <div class="types_product_img">
                {% block types_img_2 %}<img src="../static/images/karkas.webp" alt="">{% endblock %}
            </div>
            <p class="types_product_name">
            {% block types_name_2 %}Lorem ipsum.{% endblock %}
            </p>
             <p class="types_product_price">
            {% block types_price_2 %}от 60 000 руб.{% endblock %}
            </p>
            <p class="types_product_text">
            {% block types_text_2 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione, ut. Architecto beatae ducimus enim expedita ipsa nobis, quis tempora.{% endblock %}
            </p>
        </div>


    </div>
    <span class="main_btn btn_border">
        <form method="post" action="{% url 'message' %}">
        {% csrf_token %}
        <label for="phoneForm" class="mgb-20">Оставьте номер телефона в форме ниже и мы ответим на все интересующие вопросы:</label>
        <input name="name" id="nameForm" type="text" class="form-control" placeholder="Ваше имя"/><br>
        <input name="phone" id="phoneForm" type="tel" class="form-control" placeholder="+7 999 999 99 99"/><br>
        <input type="submit" value="Обсудить проект" class="btn_types"/>
    </form>

    </span>
</section>
<!--Start New Section-->
<section id="Advantages">

    <div class="container">

        <h2>{% block h2_advantages %}h2 advantages{% endblock %}</h2>

    <div class="advantages_bools">
        <!-- First Row -->
        <div>
            <h5><i class="bi bi-star"></i> Эстетика</h5>
            <p class="mgb-60">{% block txt_advantages_1 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi corporis doloribus est illum neque nesciunt omnis praesentium quia quos rerum.{% endblock %}</p>
            <h5><i class="bi bi-star"></i> 	Долгий срок службы</h5>
            <p>{% block txt_advantages_2 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi corporis doloribus est illum neque nesciunt omnis praesentium quia quos rerum.{% endblock %}</p>
        </div>
        <div>
            {% block advantage_img %}<img src="../static/images/lestnica_adv.webp" alt="" class="advantages_img">{% endblock %}
        </div>
        <div>
            <h5><i class="bi bi-star"></i> Прочная конструкция</h5>
            <p class="mgb-60">{% block txt_advantages_3 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi corporis doloribus est illum neque nesciunt omnis praesentium quia quos rerum.{% endblock %}</p>
            <h5><i class="bi bi-star"></i> Устойчивы к коррозии</h5>
            <p>{% block txt_advantages_4 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi corporis doloribus est illum neque nesciunt omnis praesentium quia quos rerum.{% endblock %}</p>
        </div>
    </div>
    </div>
</section>
<!--Start New Section-->
<section id="WhyTheyBuy">
    <div class="container">
    <h2>Почему обращаются в ПМК МеталлПрофи</h2>
    <div class="home_bools">
        <div class="">
            <img src="../static/images/production.png" alt="" class="img_bools">
            <h5>Сроки от 15 дней</h5>
        </div>
        <div class="">
            <img src="../static/images/catalog.png" alt="" class="img_bools">
            <h5>Гарантия 3 года</h5>

        </div>
        <div class="">
            <img src="../static/images/gunspr.png" alt="" class="img_bools">
            <h5>3D макет бесплатно</h5>
        </div>
        </div>
        <p>{% block why_they_buy_txt %} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat similique temporibus? Aperiam dolore eius labore pariatur quaerat quas sint tempore. Aliquam consectetur consequuntur cupiditate deleniti, dignissimos dolore eius eos error fugit id illum nostrum nulla optio, pariatur praesentium quasi sed sint suscipit tempore ut veniam vero voluptate voluptatibus. Accusantium alias aliquam aut blanditiis consectetur dolorem doloribus eaque eius explicabo, facere harum libero modi molestiae officiis pariatur quaerat ratione reiciendis repellendus rerum sapiente sequi sit sunt vel. Aliquid amet asperiores consectetur deleniti eligendi eveniet exercitationem fugiat ipsa nostrum nulla obcaecati officia quo, repellendus sit temporibus? Debitis est expedita modi totam?{% endblock %}</p>

    <span class="main_btn btn_border">
        <form method="post" action="{% url 'message' %}">
        {% csrf_token %}
        <label for="phoneForm2" class="mgb-20">Оставьте номер телефона в форме ниже и мы ответим на все интересующие вопросы:</label>
        <input name="name" id="nameForm2" type="text" class="form-control" placeholder="Ваше имя"/><br>
        <input name="phone" id="phoneForm2" type="tel" class="form-control" placeholder="+7 999 999 99 99"/><br>
        <input type="submit" value="Обсудить проект" class="btn_types"/>
    </form>
        </div>
</section>
<!--Start New Section-->
<section id="OurProjects">
    <div class="container">
        <h2>Примеры работ</h2>
        <div class="projects">
            {% for item in Projects %}
            <img src="/media/{{ item.image }}" alt="">
            {% endfor %}

        </div>
    </div>
</section>
<!--Start New Section-->
<section id="Production">
    <div class="container">
        <h2>Этапы <br>изготовления <br>{% block Production_h2 %} ENTER PRODUCT {% endblock %}</h2>
        <div class="hand_move"><img src="../static/images/finger-100.png" alt=""></div>
        <ul class="gallery">

        <li>
            <div class="production_block">
                <span></span>
                <span>
                <h5 class="mgb-40">I. Проектирование изделия</h5>
                <p>
                {% block production_txt_1 %}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, cum eveniet fugiat incidunt nam qui quo tempora voluptate voluptates. Aspernatur assumenda corporis ducimus ea eius enim excepturi exercitationem impedit ipsam itaque nihil nostrum omnis perferendis praesentium quia, quibusdam quidem quis recusandae repellat sapiente sit soluta totam vel veritatis voluptatibus.
                {% endblock %}
                </p>
                {% block production_img_1 %}<img src="../static/images/project_stair.webp" alt="" class="mgb-60">{% endblock %}
                </span>
            </div>

        </li>
        <li>

            <div class="production_block">
                <span></span>
                <span>
                <h5 class="mgb-40">II. Нарезка проката и сваривание деталей</h5>
                <p>
                {% block production_txt_2 %}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, cum eveniet fugiat incidunt nam qui quo tempora voluptate voluptates. Aspernatur assumenda corporis ducimus ea eius enim excepturi exercitationem impedit ipsam itaque nihil nostrum omnis perferendis praesentium quia, quibusdam quidem quis recusandae repellat sapiente sit soluta totam vel veritatis voluptatibus.
                {% endblock %}
                </p>
                {% block production_img_2 %}<img src="../static/images/cat_weld.webp" alt="" class="mgb-60">{% endblock %}
                </span>
            </div>

        </li>
        <li>

        <div class="production_block">
            <span></span>
            <span>
            <h5 class="mgb-40">III. Подготовка и покраска изделия</h5>
            <p>
            {% block production_txt_3 %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, cum eveniet fugiat incidunt nam qui quo tempora voluptate voluptates. Aspernatur assumenda corporis ducimus ea eius enim excepturi exercitationem impedit ipsam itaque nihil nostrum omnis perferendis praesentium quia, quibusdam quidem quis recusandae repellat sapiente sit soluta totam vel veritatis voluptatibus.
            {% endblock %}</p>
            {% block production_img_3 %}<img src="../static/images/to_paint.webp" alt="" class="mgb-60">{% endblock %}
            </span>
        </div>

        </li>
        <li>

        <div class="production_block">
            <span></span>
            <span>
            <h5 class="mgb-40">IV. Доставка и монтаж конструкции</h5>

            <p>{% block production_txt_4 %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, cum eveniet fugiat incidunt nam qui quo tempora voluptate voluptates. Aspernatur assumenda corporis ducimus ea eius enim excepturi exercitationem impedit ipsam itaque nihil nostrum omnis perferendis praesentium quia, quibusdam quidem quis recusandae repellat sapiente sit soluta totam vel veritatis voluptatibus.
            {% endblock %}</p>
            {% block production_img_4 %}<img src="../static/images/stair_mont.webp" alt="" class="mgb-60">{% endblock %}
            </span>
        </div>

        </li>

        </ul>
        </div>
    </div>



</section>
<section id="TextManager">
    <div class="container tm_content">
        <div class="tm_content_main">
        <div class="icon mgb-40">
            <img src="../static/images/question-100.png" alt="">
        </div>
        <div class="tm_heading">
        Остались вопросы?
        </div>
        <div class="tm_description">
        Задайте их онлайн нашему специалисту {% block tm_prod %} ENTER PRODUCT {% endblock %} <br> и получите предварительный просчет стоимости
        </div>
        <div class="main_btn">
        <a href="https://wa.me/79001110554"><button type="button" class="btn_types">Написать</button></a>
        </div>
        </div>
        <div class="tm_content_manager">
            <img src="../static/images/tehnolog.webp" alt="">
        </div>
    </div>

</section>


{% endblock %}