{% extends 'mainpage/base.html' %}
{% block content %}
<section id="big_txt">
    <h2>{% block h2 %} H2 Product {% endblock %}</h2>
    <p class="types_description">{% block description %} Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda deleniti dicta dolor dolores eum facilis illo numquam, perferendis possimus ratione reiciendis sit tempora voluptate voluptatem! Est expedita magnam molestias nostrum pariatur! Alias deleniti dignissimos expedita nisi non praesentium velit? Consequatur corporis explicabo harum illo itaque maiores maxime minus placeat repellendus, vel. Aspernatur atque eum omnis voluptatum! Accusamus assumenda, autem commodi corporis cum debitis deleniti eaque eligendi esse et excepturi explicabo fugiat laudantium maiores nobis officia placeat quaerat quidem quo sunt totam, ullam veniam voluptate. Harum, reprehenderit voluptate? Consequatur eveniet ipsam repudiandae voluptates. Architecto dolor dolorem ipsam labore nulla, similique! {% endblock %}</p>

</section>
{% endblock %}