{% extends 'mainpage/product.html' %}
{% block title %} Заборы в Твери - от производителя по низким ценам, купить металлический забор{% endblock %}

{% block h1 %}
Металлические заборы в Твери
{% endblock %}

{% block h2_desc %}
Из профнастила, штакетника или цельносварной<br>
Профессиональный монтаж за 2-3 дня
{% endblock %}

{% block main_screen_class %}main_screen_fence{% endblock %}

{% block h2 %} Виды металлических заборов {% endblock %}

{% block description %}
Стремясь сделать ограждение для дома более стильным и долговечным, владельцы частных домов делают выбор в пользу металлических заборов.
Установка ограждения на участке включает в себя монтаж опорной конструкции – каркаса, как правило, выполняющийся из профильной
трубы на бетонном основании,  и крепление элементов обшивки. В компании ПМК МеталлПрофи можно заказать забор из профнастила, евроштакетника или из сварных секций по доступной цене.
{% endblock %}

{% block types_img %}<img src="../static/images/zabor1.webp" alt="">{% endblock %}
{% block types_name %}Из профлиста{% endblock %}
{% block types_price %}от 1500 руб/п.м.{% endblock %}
{% block types_text %}Материалы:<br>Столбы – труба профильная 50*50*2 мм<br>Перемычки - 40*20*2 мм<br>Обшивка – профнастил 0,45 мм<br>
Крепление столбов – пескобетон М300<br>Покраска – грунт-эмаль 3в1{% endblock %}

{% block types_img_1 %}<img src="../static/images/zabor2.webp" alt="">{% endblock %}
{% block types_name_1 %}Из евроштакетника{% endblock %}
{% block types_price_1 %}от 1700 руб/п.м.{% endblock %}
{% block types_text_1 %}Материалы:<br>Столбы – труба профильная 50*50*2 мм<br>Перемычки - 40*20*2 мм<br>Обшивка – евроштакетник 0,5 мм<br>
Крепление столбов – пескобетон М300<br>Покраска – грунт-эмаль 3в1{% endblock %}

{% block types_img_2 %}<img src="../static/images/zabor3.webp" alt="">{% endblock %}
{% block types_name_2 %}Сварной из секций{% endblock %}
{% block types_price_2 %}от 2000 руб/п.м.{% endblock %}
{% block types_text_2 %}Материалы:<br>Столбы – труба профильная 50*50*2 мм<br>Перемычки - 40*20*2 мм<br>Обшивка – труба профильная 15*15*1,5 мм<br>
Крепление столбов – пескобетон М300<br>Покраска – грунт-эмаль 3в1{% endblock %}

{% block h2_advantages %}
Преимущества заборов из металла
{% endblock %}

{% block advantage_img %}<img src="../static/images/zabor2.webp" alt="" class="advantages_img">{% endblock %}

{% block txt_advantages_1 %}
Стильный внешний вид имеет не только ограждение, выполненное из профнастила, цвет которого можно выбрать в соответствии
с пожеланием заказчика, но и конструкции из евроштакетника. Этот материал будет выглядеть изящно и гармонично смотреться с любой постройкой на участке.
{% endblock %}

{% block txt_advantages_2 %}
Срок службы евроштакетника и профнастила примерно одинаков и составляет около 50 лет. При желании изменить цвет, можно
провести окрашивание обеих сторон конструкции, что не займет много времени.
{% endblock %}

{% block txt_advantages_3 %}
Профессиональное сварочное соединение элементов и подходящий металлопрокат гарантируют высокую прочность и надежность
всей конструкции даже при повышенных ветровых и снеговых нагрузках.
{% endblock %}

{% block txt_advantages_4 %}
Выполненный из профлиста сплошной забор будет наиболее долговечен, так как плотное полимерное покрытие защищает металл
от воздействия перепадов температуры, от коррозии в результате контакта с влажностью, от воздействия ультрафиолета.
{% endblock %}


{% block why_they_buy_txt %}
При необходимости изготовить конструкцию “под ключ”, следует обговорить с представителем нашей компании все детали
проекта и утвердить смету. Цена металлического забора будет зависеть от стоимости материала у производителя, объёма
работ и общего метража. Срок монтажа конструкции составляет до 5 рабочих дней (в зависимости от объема работ). Вы
можете заказать забор на выгодных условиях, позвоните менеджерам по телефонам, указанным на сайте, и получите более
полную консультацию по стоимости Вашего ограждения.
{% endblock %}

{% block Production_h2 %}
забора
{% endblock %}

{% block production_txt_1 %}
На этом этапе по уже готовым замерам помещения производится проектирование, <br> подбор оптимального шага и проступи под конкретное помещение и 3D - визуализация будущей лестницы.
{% endblock %}

{% block production_txt_2 %}
Металлопрокат зачищается от ржавчины, производится разметка и нарезка профилированных труб. <br>Следующим этапом детали скрепляются между собой с помощью сварного соединения.
{% endblock %}

{% block production_txt_3 %}
Сваренное изделие полностью зачищается от черновых сварных швов и производственных окалин. <br> Дальше изделие обезжиривается и покрывается 2-мя слоями профессиональной грунт-эмали Certa.
{% endblock %}

{% block production_txt_4 %}
Осуществляется доставка металлоконструкции на объект Заказчика. <br> Монтажные работы лестницы по месту как правило занимают 1-2 рабочих дня.
{% endblock %}

{% block tm_prod %}
по ограждениям
{% endblock %}